[submodule "lean-quickstart"]
	path = lean-quickstart
	url = git@github.com:blockblaz/lean-quickstart.git
[submodule "leanSpec"]
	path = leanSpec
	url = https://github.com/leanEthereum/leanSpec
[submodule "test-keys"]
	path = test-keys
	url = https://github.com/blockblaz/zeam-test-keys.git
